@use "sass:math";

@use "typography";

$breakpoint-phone: 540px;
$breakpoint-tablet: 940px;

@mixin state-layer($highlight-label) {
    &:hover {
        --_state-layer-display: block;
        cursor: pointer;

        @if $highlight-label {
            &__label {
                color: var(--md-sys-color-on-surface);
            }
        }
    }

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: var(--md-sys-color-on-surface);
        opacity: 0.08;
        display: var(--_state-layer-display);
        z-index: -1;
        border-radius: 24px;
    }
}

@mixin state-layer-container($border-radius: 0) {
    position: relative;
    isolation: isolate;
    border-radius: $border-radius;
}

.navigation {
    --_default-padding: 12px;
    --_default-gap: 8px;

    display: grid;
    height: 100%;

    &__panel {
        display: flex;
        flex-direction: column;
        gap: var(--_default-gap);
        background-color: var(--md-sys-color-surface-container-low);
        border-radius: 16px;
        padding: var(--_default-padding);
        box-sizing: border-box;
        grid-area: panel;

        &__headline {
            padding-left: var(--_default-padding);
            color: var(--md-sys-color-on-surface-variant);
            @include typography.typography-title-small();
        }

        &__item {
            --_state-layer-display: none;

            display: flex;
            gap: var(--_default-gap);
            align-items: center;
            height: 56px;
            box-sizing: border-box;
            padding: var(--_default-padding);
            @include state-layer-container(24px);

            &__icon {
                font-size: 24px;
                color: var(--md-sys-color-on-surface-variant);
            }

            &__label {
                color: var(--md-sys-color-on-surface-variant);
                @include typography.typography-label-large();
            }

            &--active {
                --md-sys-state-icon-fill: 1;

                .navigation__panel__item__icon {
                    color: var(--md-sys-color-on-secondary-container);
                    background-color: var(--md-sys-color-secondary-container);
                }

                .navigation__panel__item__label {
                    color: var(--md-sys-color-on-secondary-container);
                    font-weight: 700;
                }
            }
        }
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: content;
    }
}

@media(width < #{$breakpoint-phone}) {
    .navigation {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 80px;
        grid-template-areas:
            "content"
            "panel";

        &__panel {
            flex-direction: row;
            justify-content: space-between;
            border-radius: 0;
            padding: 0;

            &__headline {
                display: none;
            }

            &__item {
                flex-direction: column;
                gap: 0;

                &__icon {
                    @include state-layer-container(24px);
                    padding: 6px 16px;
                    @include state-layer(false);
                }
            }
        }
    }
}

@media(width >= #{$breakpoint-phone} ) and (width < #{$breakpoint-tablet}) {
    .navigation {
        grid-template-columns: 80px 1fr;
        grid-template-areas:
            "panel content";

        &__panel {
            &__headline {
                display: none;
            }

            &__item {
                flex-direction: column;
                gap: 0;

                &__icon {
                    padding: 6px 16px;
                    @include state-layer(false);
                    @include state-layer-container(24px);
                }
            }
        }
    }
}

@media(width >= #{$breakpoint-tablet}) {
    .navigation {
        grid-template-columns: 360px 1fr;
        grid-template-areas:
            "panel content";

            &__panel__item {
                @include state-layer(true);

                &--active {
                    background-color: var(--md-sys-color-secondary-container);

                    .navigation__panel__item__icon {
                        background-color: unset;
                    }
                }
            }
    }
}