@use "styles/index";

@mixin default-section-image {
  min-height: 200px;
  border-radius: 16px;
  @include index.extra-small-layout(1, -1);
}

@mixin default-section-text {
  @include index.typography-body-large();
  @include index.extra-small-layout(1, -1);

  h3 {
    margin-top: 0;
    color: var(--xenoforms-are-awesome-primary);
    @include index.typography-headline-medium();
  }
}

@mixin fullscreen-text {
  grid-column: 1 / -1;
  text-align: center;
  text-transform: uppercase;
}

@mixin primary-action-button {
  text-transform: uppercase;
  height: 100px;
  background-color: var(--xenoforms-are-awesome-primary-fixed);
  color: var(--xenoforms-are-awesome-on-primary-fixed);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  box-sizing: border-box;
  @include index.typography-display-small();

  @include index.on-small {
    @include index.typography-display-medium();
  }
}

section {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1/-1;
  isolation: isolate;
  padding: 100px 0;
  row-gap: 24px;
}

.hero-section {
  height: 100dvh;
  padding: 0;
  color: var(--xenoforms-are-awesome-on-primary-fixed);
  grid-template-rows: 100px 1fr;

  &__header {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1/-1;
    align-items: center;

    &__logo {
      width: 168px;
      height: 48px;
      background-image: url('./assets/logo.svg');
      background-size: cover;
      margin: auto;
      @include index.extra-small-layout(1, -1);
      @include index.medium-small-layout(1, 4);
    }

    &__top-menu {
      display: flex;
      justify-content: space-between;
      text-transform: uppercase;
      @include index.typography-title-large();
      @include index.extra-small-layout(1, -1);
      @include index.medium-small-layout(7, -1);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    height: 100%;
    @include index.extra-small-layout(1, -1);
    @include index.medium-small-layout(1, 9);
    @include index.large-layout(1, 7);

    h1 {
      @include index.typography-display-large();
    }

    h2 {
      @include index.typography-headline-large();
    }

    &__cta {
      @include primary-action-button();
    }
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('https://s3-alpha-sig.figma.com/img/5789/05ac/f6a90cb182a2ace4cb6fbef124c0b2ff?Expires=1733702400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=pVss~191npXhC5zzpmlJf7bcdoqDVftxaVoONvgi3Mnswdf-h-JNSKNw6n68MDQTWWrdTO2W8yinM6sdu9qnkwOC55iMtR~vzqTXWxMH~C~qfY0FfwbH8xuwmf-BYPM7WUf9zffT-sNgh9u-lAH64mIl4q~wfzgDLlSuWnB5ZK3j5MnVByKoZe3lax1qODddmwCT2j9oSxldq9WVp6iOErsWvgoaQZuDYYH7zXU6JYS8mSDQHKXXteXT9pTAAkrn2xdxeBs3w2FZ5iXBAhVpJ78wOgSxEn3ZzWL4ZTo2OCx9ALwcaLmibXqvn5MGFmnk~Pjbn9a2tTSr8183J2DWxg__');
    background-size: cover;
    background-position: right;
    z-index: -1;
  }
}

.two-columns-section {
  grid-auto-flow: column dense;

  &__section-image {
    @include default-section-image();
  }

  &__section-text {
    color: var(--xenoforms-are-awesome-on-surface);
    @include default-section-text();
  }

  &--image-left {
    .two-columns-section__section-image {
      @include index.small-layout(1, 5);
      @include index.medium-small-layout(1, 5);
    }

    .two-columns-section__section-text {
      @include index.small-layout(5, -1);
      @include index.medium-small-layout(6, -1);
    }
  }

  &--image-right {
    .two-columns-section__section-image {
      @include index.small-layout(5, -1);
      @include index.medium-small-layout(7, -1);
    }

    .two-columns-section__section-text {
      @include index.small-layout(1, 5);
      @include index.medium-small-layout(1, 6);
    }
  }
}

.inverse-section {
  @include index.fullscreen-background-color(var(--xenoforms-are-awesome-inverse-surface));
   color: var(--xenoforms-are-awesome-inverse-on-surface);

  &__heading {
    @include fullscreen-text();
    @include index.typography-display-medium();
  }

  &__cta {
    @include primary-action-button();

    & {
      @include index.extra-small-layout(1, -1);
      @include index.medium-small-layout(3, 11);
      @include index.large-layout(4, 10);
    }
  }

  &__credits {
    @include index.typography-body-medium();
    @include index.extra-small-layout(3, -1);
    @include index.small-layout(6, -1);
    @include index.medium-small-layout(8, -1);

    * {
      display: block;
      text-align: left;
    }
  }
}

.variant-section {
  @include index.fullscreen-background-color(var(--xenoforms-are-awesome-surface-variant));

  p {
    color: var(--xenoforms-are-awesome-on-surface-variant);
    @include fullscreen-text();
    @include index.typography-body-large();
    @include index.medium-small-layout(4, -1);
  }
}

.secondary-section {
  grid-auto-flow: row dense;
  @include index.fullscreen-background-color(var(--xenoforms-are-awesome-secondary-container));

  &__section-image {
    @include default-section-image();
    @include index.small-layout(1, 5);
    @include index.medium-small-layout(1, 6);
  }

  &__section-text {
    color: var(--xenoforms-are-awesome-on-secondary-container);
    @include default-section-text();

    @include index.on-small {
      grid-column: span 4;
    }

    @include index.on-medium-small {
      grid-column: span 6;
    }

    &--fixed {
      @include index.medium-small-layout(7, -1);
    }
  }
}

.primary-section {
  @include index.fullscreen-background-color(var(--xenoforms-are-awesome-primary-container));
  * {
    display: block;
    text-align: center;
    grid-column: 1 / -1;
    color: var(--xenoforms-are-awesome-on-primary-container);
  }

  &__text-small {
    @include index.typography-display-small();
  }

  &__text-medium {
    @include index.typography-display-medium();
  }

  &__text-large {
    @include index.typography-display-large();
  }
}

.logo-section {
  &__logo {
    width: 100%;
    aspect-ratio: 2.06;
    background-image: url('./assets/logo_full.svg');
    background-size: cover;
    margin: auto;
    @include index.extra-small-layout(1, -1);
    @include index.medium-small-layout(3, 11);
    @include index.large-layout(4, 10);
  }
}
